<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="check_file_format_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="check_file_format" type="xboolean" value="true"/>
<config key="group_files_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="group_files" type="xboolean" value="true"/>
<config key="plane_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_imagesubsetselecction"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="plane_selection">
<entry key="num_selected_dims" type="xint" value="0"/>
</config>
<config key="img_factory_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="img_factory" type="xstring" value="Array Image Factory"/>
<config key="read_all_series_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="read_all_series" type="xboolean" value="true"/>
<config key="series_range_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_doubleRange"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<config key="series_range_selection">
<entry key="MIN" type="xdouble" value="0.0"/>
<entry key="MAX" type="xdouble" value="32767.0"/>
</config>
<config key="metadata_mode_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="metadata_mode" type="xstring" value="Append a metadata column"/>
<config key="read_all_metadata_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="read_all_metadata" type="xboolean" value="false"/>
<config key="m_pixeltype_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="m_pixeltype" type="xstring" value="&lt; Automatic &gt;"/>
<config key="filename_column_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="filename_column" type="xstring" value="Location"/>
<config key="m_colCreationMode_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="m_colCreationMode" type="xstring" value="New Table"/>
<config key="m_colSuffix_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="m_colSuffix" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.knip.io.nodes.imgreader2.readfrominput.ImgReaderTableNodeFactory"/>
<entry key="node-name" type="xstring" value="Image Reader (Table)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Image IO"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.knip.io"/>
<entry key="node-bundle-vendor" type="xstring" value="University of Konstanz"/>
<entry key="node-bundle-version" type="xstring" value="1.5.6.201710240702"/>
<entry key="node-feature-name" type="xstring" value="KNIME Image Processing"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.knip.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="University of Konstanz / KNIME"/>
<entry key="node-feature-version" type="xstring" value="1.5.6.201710240702"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Image Reader (Table)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
