<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="all_columns">
<config key="0">
<entry key="old_column_name" type="xstring" value="Sum(Sum(#Recruitment_1))"/>
<entry key="new_column_name" type="xstring" value="#Recruitment_1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="1">
<entry key="old_column_name" type="xstring" value="Sum(Sum(#Recruitment_2))"/>
<entry key="new_column_name" type="xstring" value="#Recruitment_2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="2">
<entry key="old_column_name" type="xstring" value="Sum(Sum(#Co-recruitment))"/>
<entry key="new_column_name" type="xstring" value="#Co-recruitment"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="3">
<entry key="old_column_name" type="xstring" value="####################"/>
<entry key="new_column_name" type="xstring" value="################"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="4">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Recruiting))"/>
<entry key="new_column_name" type="xstring" value="%Cells recruiting"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="5">
<entry key="old_column_name" type="xstring" value="Mean(Standard deviation(%Recruiting))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Cells recruiting"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="6">
<entry key="old_column_name" type="xstring" value="Count*(Mean(%Recruiting))"/>
<entry key="new_column_name" type="xstring" value="N_%Cells recruiting"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="7">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Recruiting_1))"/>
<entry key="new_column_name" type="xstring" value="%Cells recruiting Stain 1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="8">
<entry key="old_column_name" type="xstring" value="Mean(Standard deviation(%Recruiting_1))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Cells recruiting Stain 1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="9">
<entry key="old_column_name" type="xstring" value="Count*(Mean(%Recruiting_1))"/>
<entry key="new_column_name" type="xstring" value="N_%Cells recruiting Stain 1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="10">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Recruiting_2))"/>
<entry key="new_column_name" type="xstring" value="%Cells recruiting Stain 2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="11">
<entry key="old_column_name" type="xstring" value="Mean(Standard deviation(%Recruiting_2))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Cells recruiting Stain 2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="12">
<entry key="old_column_name" type="xstring" value="Count*(Mean(%Recruiting_2))"/>
<entry key="new_column_name" type="xstring" value="N_%Cells recruiting Stain 2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="13">
<entry key="old_column_name" type="xstring" value="#################### (#1)"/>
<entry key="new_column_name" type="xstring" value="#################"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="14">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Recruitment_per_cell))"/>
<entry key="new_column_name" type="xstring" value="%Recruitment per cell"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="15">
<entry key="old_column_name" type="xstring" value="Mean(Mean(Standard deviation(%Recruitment_per_cell)))"/>
<entry key="new_column_name" type="xstring" value="SEM %Recruitment per cell"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="16">
<entry key="old_column_name" type="xstring" value="Sum(Sum(Count*(%Recruitment_per_cell)))"/>
<entry key="new_column_name" type="xstring" value="N %Recruitment per cell"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="17">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Recruitment_per_cell_1))"/>
<entry key="new_column_name" type="xstring" value="%Recruitment per cell Stain 1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="18">
<entry key="old_column_name" type="xstring" value="Mean(Mean(Standard deviation(%Recruitment_per_cell_1)))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Recruitment per cell Stain 1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="19">
<entry key="old_column_name" type="xstring" value="Sum(Sum(Count*(%Recruitment_per_cell_1)))"/>
<entry key="new_column_name" type="xstring" value="N_%Recruitment per cell Stain 1"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="20">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Recruitment_per_cell_2))"/>
<entry key="new_column_name" type="xstring" value="%Recruitment per cell Stain 2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="21">
<entry key="old_column_name" type="xstring" value="Mean(Mean(Standard deviation(%Recruitment_per_cell_2)))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Recruitment per cell Stain 2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="22">
<entry key="old_column_name" type="xstring" value="Sum(Sum(Count*(%Recruitment_per_cell_2)))"/>
<entry key="new_column_name" type="xstring" value="N_%Recruitment per cell Stain 2"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="23">
<entry key="old_column_name" type="xstring" value="#################### (#2)"/>
<entry key="new_column_name" type="xstring" value="#########################"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="24">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Replicating_non-recruited))"/>
<entry key="new_column_name" type="xstring" value="%Replicating non-recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="25">
<entry key="old_column_name" type="xstring" value="Mean(Standard deviation(%Replicating_non-recruited))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Replicating non-recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="26">
<entry key="old_column_name" type="xstring" value="Count*(Count*(%Replicating_non-recruited))"/>
<entry key="new_column_name" type="xstring" value="N_%Replicating non-recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="27">
<entry key="old_column_name" type="xstring" value="Mean(Mean(%Replicating_recruited))"/>
<entry key="new_column_name" type="xstring" value="%Replicating recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="28">
<entry key="old_column_name" type="xstring" value="Mean(Standard deviation(%Replicating_recruited))"/>
<entry key="new_column_name" type="xstring" value="SEM_%Replicating recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="29">
<entry key="old_column_name" type="xstring" value="Count*(Count*(%Replicating_recruited))"/>
<entry key="new_column_name" type="xstring" value="N_%Replicating recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="30">
<entry key="old_column_name" type="xstring" value="#################### (#3)"/>
<entry key="new_column_name" type="xstring" value="##########################"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="31">
<entry key="old_column_name" type="xstring" value="1/ vac (non-recruited)"/>
<entry key="new_column_name" type="xstring" value="1/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="32">
<entry key="old_column_name" type="xstring" value="Standard deviation(%of all cells)"/>
<entry key="new_column_name" type="xstring" value="SEM_1/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="33">
<entry key="old_column_name" type="xstring" value="Count*(%of all cells)"/>
<entry key="new_column_name" type="xstring" value="N_1/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="34">
<entry key="old_column_name" type="xstring" value="2/ vac (non-recruited)"/>
<entry key="new_column_name" type="xstring" value="2/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="35">
<entry key="old_column_name" type="xstring" value="Standard deviation(%of all cells) (#1)"/>
<entry key="new_column_name" type="xstring" value="SEM_2/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="36">
<entry key="old_column_name" type="xstring" value="Count*(%of all cells) (#1)"/>
<entry key="new_column_name" type="xstring" value="N_2/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="37">
<entry key="old_column_name" type="xstring" value="4/ vac (non-recruited)"/>
<entry key="new_column_name" type="xstring" value="4/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="38">
<entry key="old_column_name" type="xstring" value="Standard deviation(%of all cells) (#2)"/>
<entry key="new_column_name" type="xstring" value="SEM_4/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="39">
<entry key="old_column_name" type="xstring" value="Count*(%of all cells) (#2)"/>
<entry key="new_column_name" type="xstring" value="N_4/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="40">
<entry key="old_column_name" type="xstring" value="4 or more/ vac (non-recruited)"/>
<entry key="new_column_name" type="xstring" value="4 or more/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="41">
<entry key="old_column_name" type="xstring" value="Standard deviation(%of all cells) (#3)"/>
<entry key="new_column_name" type="xstring" value="SEM_4 or more/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="42">
<entry key="old_column_name" type="xstring" value="Count*(%of all cells) (#3)"/>
<entry key="new_column_name" type="xstring" value="N_4 or more/ vac (non-recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="43">
<entry key="old_column_name" type="xstring" value="Sum_non-recruited"/>
<entry key="new_column_name" type="xstring" value="Sum non-recruited"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="44">
<entry key="old_column_name" type="xstring" value="#################### (#4)"/>
<entry key="new_column_name" type="xstring" value="###############"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="45">
<entry key="old_column_name" type="xstring" value="1/ vac (recruited)"/>
<entry key="new_column_name" type="xstring" value="1/ vac (recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="46">
<entry key="old_column_name" type="xstring" value="Standard deviation(%of all cells) (#4)"/>
<entry key="new_column_name" type="xstring" value="SEM_1/ vac (recruited)"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="47">
<entry key="old_column_name" type="xstring" value="Count*(%of all cells) (#4)"/>
<entry key="new_column_name" type="xstring" isnull="true" value=""/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.rename.RenameNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Rename"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.4.2.v201711100922"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.4.2.v201711100944"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Rename"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
