<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="cfg_num_images_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_num_images" type="xint" value="1"/>
<config key="cfg_factory_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_factory" type="xstring" value="ARRAY_IMG_FACTORY"/>
<config key="cfg_fill_random_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_fill_random" type="xboolean" value="false"/>
<config key="cfg_random_size_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_random_size" type="xboolean" value="false"/>
<config key="cfg_size_c_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_c" type="xint" value="0"/>
<config key="cfg_size_x_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_x" type="xint" value="100"/>
<config key="cfg_size_y_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_y" type="xint" value="100"/>
<config key="cfg_size_z_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_z" type="xint" value="0"/>
<config key="cfg_size_t_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_t" type="xint" value="0"/>
<config key="cfg_type_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_type" type="xstring" value="UNSIGNEDBYTETYPE"/>
<config key="cfg_fill_value_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_fill_value" type="xdouble" value="0.0"/>
<config key="cfg_size_x_min_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_x_min" type="xint" value="100"/>
<config key="cfg_size_y_min_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_y_min" type="xint" value="100"/>
<config key="cfg_size_z_min_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_z_min" type="xint" value="0"/>
<config key="cfg_size_t_min_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_t_min" type="xint" value="0"/>
<config key="cfg_size_channel_min_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="cfg_size_channel_min" type="xint" value="0"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.knip.base.nodes.io.imggenerator.ImgGeneratorNodeFactory"/>
<entry key="node-name" type="xstring" value="Image Generator"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Image Types and Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.knip.base"/>
<entry key="node-bundle-vendor" type="xstring" value="University of Konstanz"/>
<entry key="node-bundle-version" type="xstring" value="1.5.6.201710240702"/>
<entry key="node-feature-name" type="xstring" value="KNIME Image Processing"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.knip.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="University of Konstanz / KNIME"/>
<entry key="node-feature-version" type="xstring" value="1.5.6.201710240702"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Image Generator"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1, Cols: 1"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="internalObjects">
<entry key="location" type="xstring" value="internalTables"/>
<config key="content">
<config key="object_0">
<entry key="index" type="xint" value="0"/>
<entry key="type" type="xstring" value="table"/>
<entry key="table_dir_location" type="xstring" value="object_0"/>
</config>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" value="filestore"/>
<entry key="file_store_id" type="xstring" value="0e75266f-c884-41f9-b1bf-a536f9b99ba0"/>
</config>
</config>
