<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column_creation_mode_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="column_creation_mode" type="xstring" value="Append"/>
<config key="column_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="column_selection" type="xstring" value="Merged Img"/>
<config key="feature_seleciton_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="feature_seleciton">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Name"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.knip.base.nodes.misc.imgproperties.ImgPropertiesNodeFactory"/>
<entry key="node-name" type="xstring" value="Image Properties"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Image Types and Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.knip.base"/>
<entry key="node-bundle-vendor" type="xstring" value="University of Konstanz"/>
<entry key="node-bundle-version" type="xstring" value="1.7.0.201807120614"/>
<entry key="node-feature-name" type="xstring" value="KNIME Image Processing"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.knip.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="University of Konstanz / KNIME"/>
<entry key="node-feature-version" type="xstring" value="1.7.0.201807120614"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Image Properties"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
